<!doctype html>
<html>
  <head>
    <!-- <title>Instruction Scheduling and Token Allocations for Modular Time-Multiplexing on CGRAs</title> -->
  <style>
    figcaption {
    /* background-color: black; */
    color: black;
    padding: 2px;
    /* text-align: center; */
  }
  </style>
  </head>

  <body>
    <h1>Instruction Scheduling and Token Allocations for Modular Time-Multiplexing on CGRAs</h1>
    <h3>    Xuesi Chen (xuesic@andrew.cmu.edu)</h3>
    <h3>    Mitchell Fream (mfream@andrew.cmu.edu)</h3>
    <p> <a href="https://xuesichen.github.io/pdf/Project_Proposal.pdf">Project Proposal</a></p>
    <p> <a href="https://xuesichen.github.io/pdf/Project_Final.pdf">Project Final Report</a></p>
    <img
    src="/images/milestone_result.svg"
    alt="Milestone Result is loading..."
    width="25%" />
    <figcaption>Fig.1 Performance per area in comparison to RipTide. </br>
    Ideal represent the possible performance if all instructions were</br>
    to dynamically execute on the CGRAs. </br>
    Dataflow Blocks dynamic represents the performance if all instructions </br>
    were to dynamically execute within their corresponding dataflow blocks. </br>
    Dataflow Blocks static represents the performance of instruction </br>
    scheduling we did within dataflow blocks for static scheduling, </br>
    which is the most energy efficient version.
  </figcaption> 


  </body>
</html>
